#nav{
    position: fixed;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #181818;
}

#logo{
    color: white;
    font-size: 50px;
    background-color: #070707;
}

#navButtons{
    position: relative;
    top:28%;
}

.icone{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

a > i {
    color: #909096;
}

.socials{
    position: relative;
    color: #909096;
    text-align: center;
    top: 47%;
}

.social-icone {
    margin-bottom: 15px;
    font-size: 20px;
}

.active {
    color : rebeccapurple;
}