#nav{
    position: fixed;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #181818;
    z-index: 99;
}

#logo{
    color: white;
    height: 60px;
    font-size: 45px;
    background-color: #070707;
}

#navButtons{
    position: relative;
    top:28%;
}

.icone{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

a > i {
    color: #909096;
}

.socials{
    position: relative;
    color: #909096;
    text-align: center;
    top: 47%;
}

.social-icone {
    margin-bottom: 15px;
    font-size: 20px;
}

.active {
    color : rebeccapurple;
}

@media screen and (max-width: 480px ){
    #navButtons{
        flex-direction: row !important;
        justify-content: space-between !important  ;
        width: 60% !important;
    }
    .socials{
        display: none !important;
    }
    #nav{
        justify-content: start !important;
    }

    #navButtons{
        margin-left: 30px;
    }
}
@media screen and (max-width: 900px ){
    #nav{
        z-index: 1;
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-between;
    }

    #logo{
        width: 13%;
        height: 85px;
    }
    
    #navButtons{
        flex-direction: row !important;
        justify-content: space-between !important  ;
        width: 44%;
        position: static !important;
        align-self: center !important;
        
    }
    .icone,.social-icone{
        margin-bottom: 0;
        max-width: 26px;
    }

    .socials{
        flex-direction: row !important;
        justify-content: space-between !important  ;
        width: 10%;
        position: static !important;
        align-self: center !important;
        margin-right: 20px;
    }

}

i{
    color:#909096;
}

.icone-text{
    font-size: 15px;
    color: white;
    padding: 4.7px 0 0 0 ;
    margin: 0;
}

.code-icone > i {
    color: rgb(218, 218, 218);
}

