#parcours-section{
    margin-left: 100px;
    height: auto;
    background-color: #f5f8fa;
    border-top: 1px solid #d8dbdd;
    margin-bottom: 50px;
}

.color-blue{
    color : #0474ac;
}

.decoration-blue{
    text-decoration-color: #039be5;
}
.border-bottom{
    border-bottom : #039be5;
}

.bg-black{
    
}

@media screen and (max-width : 900px){
    #parcours-section{
        margin-left: 0;
        position: relative;
        top:85px;
        height: 166vh;
    }
}

@media screen and (max-width : 768px){
    #parcours-section{
        margin-left: 0;
        position: relative;
        top:85px;

    }
    .exp > li{
        margin-top: 15px !important;
        width: 100% !important;
    }
}

@media screen and (max-width : 578px){
    #parcours-section{
        top:197px;
        height: auto;
        margin-bottom: 200px;
    }

    .slider{
        width: 80%;
        height: auto;
    }
    .slick-slider{
        padding: 0;
    }

    #logo{
        width: 18%;
    }

}
